.lost-container {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.lost-PNF {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
}

.lost-header {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
}

.lost-sub {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
}

.lost-link {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
}
