.global-navbar {
    display: flex;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 60px;
}

.main-container {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.top-container {
    display: flex;
    background-color: green;
    height: 40vh;
    width: 100%;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    background-color: white;
    width: 100%;
    height: 100%;
    align-self: center;
}

.create-newImage {
    display: flex;
    align-self: center;

}

.image-box {
    display: flex;
    border: 2px solid rgb(185, 101, 174);
    background-color: white;
    width: 300px;
    height: 200px;
    align-self: center;
}

.actual-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
