.user-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
}

.top-container {
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 40vh;
    width: 100vw;
}

.bottom-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 2px solid white;
    background-color: #eff4f5;
    width: 100vw;
    height: 50vh;
    align-self: center;
}

.create-newImage {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #4aa1f3;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    font-weight: bold;

    padding: 8px 15px;
    /* margin: 5px 0px 5px 0px; */

}

.image-box {

    background-color: rgb(163, 62, 62);
    width: 200px;
    height: 200px;
}

.actual-image {
    width: 300px;
    height: 300px;
    object-fit:cover;
    overflow: hidden;
}
