.global-navbar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 10vh;
}

.link-login {
    align-self: center;
    padding: 3px;
    margin: 0px 30px 0 10px;
}

.login {
    color: #eff4f5
}

.link-signup {
    align-self: center;
    padding: 5px 15px;
    margin: 0px 30px 0px 10px;
    border: 2px solid #eff4f5;
    border-radius: 3px;
    background: #eff4f5;
}

.signup {
    color: black
}

.link-signup:hover {
    box-shadow: 1px 1px;
}

.signup:hover {
    color: rgb(138, 138, 138);
}
.link-home {
    align-self: center;
    margin: 0px 30px 0px 30px;
    padding: 5px;
    font-weight: bolder;
}

.home {
    text-decoration: none;
    color: #eff4f5;
    font-weight: bolder;
    font-size: x-large;
}

.search-bar {
    align-self: center;
    padding: 10px;
    flex-grow: 2;
}

.search-input {
    width: 100%;
    border: none;
    border: 1px solid black;
    border-radius: 8px;
    background-color: whitesmoke;
}

.login {
    text-decoration: none;
}

.signup {
    text-decoration: none;
}
